# Fails to build with SELINUX:
#
#   DTC     arch/arm64/boot/dts/mediatek/mt8173-evb.dtb
# In file included from ./include/uapi/linux/capability.h:17,
#                  from ./security/selinux/include/classmap.h:3,
#                  from scripts/selinux/genheaders/genheaders.c:18:
# ./include/uapi/linux/types.h:5:10: fatal error: asm/types.h: No such file or directory
#     5 | #include <asm/types.h>
#       |          ^~~~~~~~~~~~~
# compilation terminated.

CONFIG_SECURITY_SELINUX=n
