[Desktop Entry]
Name=i3
Comment=improved dynamic tiling window manager
Exec=xinitrc_i3
TryExec=xinitrc_i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
