[Desktop Entry]
Exec=dbus-run-session /usr/bin/ovos-launcher-wrapper
TryExec=/usr/bin/mycroft-embedded-shell
Name=OVOS UI
Comment=OVOS UI
Type=Application
