# remap the left key of Zinitix-TS to KEY_MENU
SUBSYSTEM=="input", KERNEL=="event*", DRIVERS=="Zinitix-TS", ENV{KEYBOARD_KEY_00}="menu", RUN{builtin}+="keyboard"
