# NOTE: This is a config fragment

# Support running pmbootstrap
CONFIG_BINFMT_MISC=y

# BT HSP support
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=m
CONFIG_BT_HS=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y

# BT keyboard support
CONFIG_HIDRAW=y
CONFIG_UHID=y

# USB Ethernet
CONFIG_USB_NET_DRIVERS=m
CONFIG_USB_USBNET=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_USB_NET_AX8817X=m
