# Create a list of integers for kernel version, so we can compare it properly. 
{% set kver = [kernel_version | int, kernel_patchlevel | int] %}

CONFIG_BTRFS_FS=m
CONFIG_EXFAT_FS=m
CONFIG_EXT4_FS=m
CONFIG_F2FS_FS=m
