# Create a list of integers for kernel version, so we can compare it properly. 
{% set kver = [kernel_version | int, kernel_patchlevel | int] %}

{% if kver >= [3, 14] %}
CONFIG_ZRAM=m
CONFIG_ZSMALLOC=m
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZRAM_MEMORY_TRACKING=y
CONFIG_CRYPTO_LZ4=m
CONFIG_LZ4_COMPRESS=m
CONFIG_SWAP=y
{% endif %}
