# Create a list of integers for kernel version, so we can compare it properly. 
{% set kver = [kernel_version | int, kernel_patchlevel | int] %}

# See https://gitlab.com/postmarketOS/pmaports/-/issues/1918

CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
