# Create a list of integers for kernel version, so we can compare it properly. 
{% set kver = [kernel_version | int, kernel_patchlevel | int] %}

CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NFS_FS=m
CONFIG_FSCACHE=m
CONFIG_NFS_FSCACHE=y
CONFIG_CACHEFILES=m
CONFIG_BLK_DEV_NBD=y
