# Create a list of integers for kernel version, so we can compare it properly. 
{% set kver = [kernel_version | int, kernel_patchlevel | int] %}

CONFIG_SND_USB_AUDIO=m

# TODO: add more sound cards here
